body,html{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(imagen1.jpeg) center center;
    background-size: cover;
}
.contenedor{
    text-align: center;
    padding: 20px;
    background-color: rgb(204, 204, 194);
    border-radius: 1opx;
    box-shadow: 0 4px 8px rgba(rgb(0, 0, 0, 0.1);

}

body{
    background-color: #ffe6f0 rgb(96, 96, 95);
    font-family: Arial, Helvetica, sans-serif;
}